{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier la société{% endblock %}

{% block body %}
    <div class="example-wrapper mt-5">
        <h1>Modifier la société</h1>

        {{ form_start(form) }}
            {{ form_row(form.name) }}

            <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
