{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block body %}
    <div class="example-wrapper mt-5">
        {% for post in data %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between">
                    <strong>{{ post.title | capitalize }}</strong>
                    <a href="{{ path('app_post_request', {'id': post.id, 'method': 'get'}) }}">En savoir plus</a>
                </div>
                <div class="card-body">
                    {{ post.body | raw }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
